.halftone {
	position: relative;
	height: 100vh;
	background: $background-color;
	filter: contrast(7);

	&::before {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background:
			radial-gradient(rgba(255, 255, 255, 0.5), transparent 70%) 0/ 1em 1em;
		--mask: linear-gradient(red, transparent);
		-webkit-mask: var(--mask);
						mask: var(--mask);
		content: ''
	}
}
